* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.nav-bar {
  margin: 20px;
}

.nav-bar .listItems {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.nav-bar .listItems a {
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
  color: black;
  position: relative;
}

.nav-bar .listItems a::before, .nav-bar .listItems a::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-bar .listItems a::before {
  top: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
  right: -0.5em;
  background: black;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  z-index: -1;
}

.nav-bar .listItems a::after {
  top: -0.6em;
  bottom: -0.6em;
  left: -0.6em;
  right: -0.6em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 0;
  z-index: -1;
}

.nav-bar .listItems a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.nav-bar .listItems a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.nav-bar .listItems a:hover {
  color: white;
}

.intro {
  display: inline-block;
  margin: 10px;
  position: relative;
}

.intro::before, .intro::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
}

.intro::before {
  background: red;
  width: 100vw;
  z-index: -2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.intro::after {
  background: white;
  left: -0.1em;
  right: -0.1em;
  z-index: -1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.container .card {
  margin: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}

.container .card::before, .container .card::after {
  content: "";
  position: absolute;
  top: 1.35em;
  bottom: 1.35em;
  left: 1.35em;
  right: 1.35em;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.container .card::before {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.container .card::after {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.container .card:hover::before {
  -webkit-transform: scale(1, 1.05);
          transform: scale(1, 1.05);
}

.container .card:hover::after {
  -webkit-transform: scale(1.05, 1);
          transform: scale(1.05, 1);
}

.container .card__img {
  max-width: 100%;
  display: block;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
}

.container .card:hover .card__img {
  opacity: 0.4;
}

.container .card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
}

.container .card:hover .card__text {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */