* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.intro {
  display: inline-block;
  margin: 10px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
  }
  &::before {
    background: red;
    width: 100vw;
    z-index: -2;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    background: white;
    left: -0.1em;
    right: -0.1em;
    z-index: -1;
  }
}
.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  .card {
    margin: 10px;
    position: relative;
    background: rgba(black, 0.7);
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 1.35em;
      bottom: 1.35em;
      left: 1.35em;
      right: 1.35em;
      opacity: 1;
      transition: transform 0.5s ease-out;
    }
    &::before {
      transform: scale(1, 0);
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
    &::after {
      transform: scale(0, 1);
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    &:hover::before {
      transform: scale(1, 1.05);
    }
    &:hover::after {
      transform: scale(1.05, 1);
    }
  }
  .card__img {
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
  }
  .card:hover .card__img {
    opacity: 0.4;
  }
  .card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity ease-out 250ms;
  }
  .card:hover .card__text {
    opacity: 1;
  }
}
